<%= form_with(model: purchase_order, local: true) do |form| %>
  <% if purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :purchase_order_product_name %>
  </div>

  <div class="field">
    <%= form.label :product_type %>
    <%= form.text_field :product_type, id: :purchase_order_product_type %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price, id: :purchase_order_unit_price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :purchase_order_quantity %>
  </div>

  <div class="field">
    <%= form.label :supplier_name %>
    <%= form.text_field :supplier_name, id: :purchase_order_supplier_name %>
  </div>

  <div class="field">
    <%= form.label :supplier_code %>
    <%= form.number_field :supplier_code, id: :purchase_order_supplier_code %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :purchase_order_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :purchase_order_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
